{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
  

  <script>
    $(document).ready(function(){
      let card = (data) => 
      `
      <div class="swiper-slide">
              <blockquote
                class="flex h-80 flex-col rounded-[2rem] justify-between bg-white p-12"
              >
                <div>
                  <div class="flex gap-0.5 text-white">         
  
                  <div class="mt-2">
                    <h3 class="text-2xl font-bold text-[#FED307] sm:text-3xl">
                      ${data.fields.username}
                    </h3>
  
                    <p class="mt-4 text-lg text-gray-600">
                      ${data.fields.content}
                    </p>
                  </div>
                </div>
  
                <footer class="mt-8 text-gray-500">${data.fields.institute}</footer>
              </blockquote>
            </div>
  
      `;
  
    let modal = document.querySelector("#modal")
    let mobile = document.querySelector("#mobile")
    let closeButton = document.querySelector("#close_testimonial")
    let openButton = document.querySelector("#open_testimonial")
    let mobileNav = document.querySelector("#open_mobile")
    let closeMobile = document.querySelector("#close_mobile")
  
    closeButton.addEventListener("click", () =>
      {
        modal.classList.remove("flex");
        modal.classList.add("hidden");
        reset();
      });
  
    closeMobile.addEventListener("click", () =>
      {
        mobile.classList.remove("flex");
        mobile.classList.add("hidden");
      });
    
    openButton.addEventListener("click", () =>
      {
        modal.classList.add("flex");
        modal.classList.remove("hidden");
      });
  
    mobileNav.addEventListener("click", () =>
      {
        mobile.classList.add("flex");
        mobile.classList.remove("hidden");
      });
  
    function reset(){
      $("#task_form").trigger("reset");
    };
  
    function add_testimonial(e){
      $("#testimoni").append(card(e));
    };
    
    function show_testimonials(){
      $.get("{% url 'home:show_data_json' %}", function(e){
        $.each(e, function(i, result) {
            add_testimonial(result)
          });
        });
      };
    
      $("#task_form").submit((event) => {
              event.preventDefault();
              if ($("#username").val() && $("#content").val() && $("#institute").val()) {
                  $.ajax({
                  type: "POST",
                  url: "{% url 'home:add' %}",
                  data: {username: $("#username").val(), content: $("#content").val(), institute: $("#institute").val()},
                  headers: {"X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value},
                  success: function(result) {
                      modal.classList.remove("flex");
                      modal.classList.add("hidden");
                      reset();
                      add_testimonial(result);
                  },
                  });
              } else {
                  alert("Please fill the title/description!");
              }
              });
  
    show_testimonials();
  
    });
  </script>
  <body class="bg-white bg-opacity-100">
    
    <div id="modal" tabindex="-1" aria-hidden="true" class="hidden bg-white bg-opacity-50 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full flex justify-center items-center">
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
              <button id="close_testimonial" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
              </button>
              <div class="py-6 px-6 lg:px-8">
                  <h3 class="mb-4 text-2xl font-bold text-gray-900">Your opinion about us is very <strong class="font-extrabold text-[#412D7E]">helpful!
                  </strong></h3>
                  <form method="POST" class="space-y-6" action="#" id="task_form">
                    {% csrf_token %}
                      <div>
                          <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your name</label>
                          <input type="username" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Matthew Rizky Hartadi" required="">
                      </div>
                      <div>
                          <label for="content" class="block mb-2 text-sm font-medium text-gray-900">Your testimony</label>
                          <input type="content" name="content" id="content" placeholder="Very nice!" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required="">
                      </div>
                      <div>
                        <label for="institute" class="block mb-2 text-sm font-medium text-gray-900">Your institute</label>
                        <input type="institute" name="institute" id="institute" placeholder="Universitas Indonesia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required="">
                    </div>
                      
                      <button type="submit" class="w-full text-black bg-[#FED307] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Share your thoughts</button>
                  </form>
                  {% if messages %}
                      <ul>
                          {% for message in messages %}
                              <li class="mt-4 text-center text-sm">{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
              </div>
          </div>
      </div>
  </div> 
  
  <div id="mobile" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-screen md:h-full flex justify-center items-center">
    <div class="relative w-full md:top-0 max-w-md h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow">
            <button id="close_mobile" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <a class="block ml-6 text-white hover:text-[#FED307] font-semibold flex flex-row h-16 md:h-24 gap-2" href="/logged/">
              <img clas='md:mt-3' src="{% static 'home/acb_isbe.png' %}" alt="ACB-ISBE">
              <div class="hidden md:flex text-xl items-center justify-between">
                <h1 class="font-bold">ACB-</h1>
                <h1 class="font-medium">ISBE</h1>
              </div>
            </a>
            <div class="py-6 px-6 lg:px-8">
                <div class="flex flex-col gap-6">
                  <ul class="flex flex-col items-center gap-6 text-lg font-semibold text-[#412D7E]">
                    <li>
                      <a
                        class="transition hover:text-[#FED307]"
                        href="/logged/"
                      >
                        Home
                      </a>
                    </li>
        
                    <li>
                      <a
                        class="transition hover:text-[#FED307]"
                        href="{% url 'authors:show_authors' %}"
                      >
                        Authors
                      </a>
                    </li>
        
                    <li>
                      <a
                        class="text-[#FED307] transition hover:text-[#FED307]"
                        href="{% url 'submission:show_submission' %}"
                      >
                        Publication
                      </a>
                    </li>
        
                    <li>
                      <a
                        class="transition hover:text-[#FED307]"
                        href="{% url 'events:show_events_general' %}"
                      >
                        Event
                      </a>
                    </li>
        
                    <li>
                      <a
                        class="transition hover:text-[#FED307]"
                        href="{% url 'speakers:show_speakers' %}"
                      >
                        Speakers
                      </a>
                    </li>
      
                    <li>
                      <a
                        class="transition hover:text-[#FED307]"
                        href="{% url 'parallel_sessions:category' %}"
                      >
                        Sessions
                      </a>
                    </li>
                  </ul>
                  <a class="flex justify-center items-center rounded-md bg-[#FED307] md:h-full px-5 py-2.5 text-lg font-semibold text-white shadow-md shadow-[#EEC501] hover:-translate-y-0.5 hover:shadow-xl hover:shadow-[#614E99] transition ease-in-out duration-500" href="{% url 'home:login' %}">
                    Login</a>
              </div>
          </div>
                 
        </div>
    </div>
  </div> 
  
    <section>
      <header aria-label="Site Header" class="sticky top-0 bg-transparent bg-[#412D7E] z-50">
        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 md:h-24 items-center justify-between">
            <div class="flex-1 md:flex md:items-center md:gap-12">
              <a class="block text-white hover:text-[#FED307] font-semibold flex flex-row h-16 md:h-24 gap-2" href="/logged/">
                <img clas='md:mt-3' src="{% static 'home/acb_isbe.png' %}" alt="ACB-ISBE">
                <div class="hidden md:flex text-xl items-center justify-between">
                  <h1 class="font-bold">ACB-</h1>
                  <h1 class="font-medium">ISBE</h1>
                </div>
              </a>
            </div>
      
            <div class="md:flex md:items-center md:gap-12">
              <nav aria-label="Site Nav" class="hidden lg:block">
                <ul class="flex items-center gap-6 text-md font-semibold text-white">
                  <li>
                    <a
                      class="transition hover:text-[#FED307]"
                      href="/logged/"
                    >
                      Home
                    </a>
                  </li>
      
                  <li>
                    <a
                      class="transition hover:text-[#FED307]"
                      href="{% url 'authors:show_authors' %}"
                    >
                      Authors
                    </a>
                  </li>
      
                  <li>
                    <a
                      class="text-[#FED307] transition hover:text-[#FED307]"
                      href="{% url 'submission:show_submission' %}"
                    >
                      Publication
                    </a>
                  </li>
      
                  <li>
                    <a
                      class="transition hover:text-[#FED307]"
                      href="{% url 'events:show_events_general' %}"
                    >
                      Event
                    </a>
                  </li>
      
                  <li>
                    <a
                      class="transition hover:text-[#FED307]"
                      href="{% url 'speakers:show_speakers' %}"
                    >
                      Speakers
                    </a>
                  </li>
    
                  <li>
                    <a
                      class="transition hover:text-[#FED307]"
                      href="{% url 'parallel_sessions:category' %}"
                    >
                      Sessions
                    </a>
                  </li>
                </ul>
              </nav>
      
              <div class="flex items-center gap-4">
                <div class="sm:flex sm:gap-4">
                  <a
                    class="hidden lg:block rounded-md bg-[#FED307] md:h-full px-5 md:py-2.5 text-sm font-semibold text-white shadow-md shadow-[#EEC501] hover:-translate-y-0.5 hover:shadow-xl hover:shadow-[#614E99] transition ease-in-out duration-500"
                    href="{% url 'home:login' %}"
                  >
                    Login
                  </a>
      
                  <!-- <div class="hidden sm:flex">
                    <a
                      class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-[#1C3265]"
                      href="{% url 'home:register' %}"
                    >
                      Register
                    </a>
                  </div>
                </div> -->
      
                <div class="block lg:hidden">
                  <button id="open_mobile"
                    class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
                  >
                  <a
                  class="transition hover:text-[#FED307]"
                  href="{% url 'submission:show_submission' %}"
                >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                </svg>
                
                </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

<div class="mx-16 md:mx-24 lg:mx-48">
    {% for item in submission %}

    <p class="mt-16 text-3xl font-bold text-center mb-5">{{item.title}}</p>
    <p class="text-base text-center">{{item.trackId.title}}</p>
    <p class="text-base text-center">Submitted on {{item.lastUpdated}}</p>
    <p class="text-base text-center mb-5">{{item.authors_name}}</p>

    <hr>
    <p class="my-3 text-center">
        {% if item.decision == "accept" %} The paper is accepted
        {% else %} {{item.decision}}
        {% endif %}
    </p>
    <hr>

    <div class="md:hidden block my-5 bg-[#412D7E] p-8 text-white rounded-xl">
      <p class="text-2xl font-semibold mb-3 text-center">Conference Information</p>

      <div class="columns-2">
        
        <div>
          <div class="flex flex-row justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
              </svg>
              <p class="text-base">{{item.location}}</p>
          </div>
      
          <div class="flex flex-row justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
              </svg>
              <p class="text-base">{{item.date}}</p>
          </div>
        </div>
  
        <div>
          <div class="flex flex-row justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p class="text-base">{{item.time}}</p>
          </div>
          <div class="flex flex-row justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z" />
            </svg>
            <p class="text-base">{{item.chair}}</p>
          </div>
        </div>
      </div>
    
    </div>

    <div class="flex flex-row gap-12">
      <div class="my-5 w-full md:basis-9/12 basis-full">
        <p class="text-2xl font-semibold">Abstract</p>
        <p class="text-base text-justify">{{item.abstract}}</p>
      </div>

      <div class="hidden md:block basis-3/12 my-7 w-full">
        <div class="bg-[#412D7E] p-8 text-white rounded-xl">
          <p class="text-2xl font-semibold mb-3 text-center">Conference Information</p>

          <div class="flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
            <p class="text-base">{{item.location}}</p>
          </div>

          <div class="flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
            </svg>
            <p class="text-base">{{item.date}}</p>
          </div>
          
          <div class="flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p class="text-base">{{item.time}}</p>
          </div>
          
          <div class="flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z" />
            </svg>
            <p class="text-base">{{item.chair}}</p>
          </div>
        </div>
        
        
      </div>

    </div>
    
    <div class="my-5">
      <p class="text-2xl font-semibold">Keywords</p>
      <p class="text-base">{{item.keywords}}</p>
  </div>

    {% endfor %}
</div>

<footer aria-label="Site Footer" class="bg-gray-50 mt-8">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="flex h-24 justify-center text-teal-600 sm:justify-start">
          <div class="flex-1 md:flex md:items-center md:gap-12">
            <a class="block text-[#412D7E] font-semibold flex flex-row h-24 gap-2" href="/logged/">
              <img clas='mt-3' src="{% static 'home/acb_isbe.png' %}" alt="ACB-ISBE">
              <div class="hidden md:flex text-xl items-center justify-between">
                <h1 class="font-bold">ACB-</h1>
                <h1 class="font-medium">ISBE</h1>
              </div>
            </a>
          </div>
        </div>
  
        <p class="mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right">
          Copyright &copy; 2022. All rights reserved.
        </p>
      </div>
    </div>
</footer>

{% endblock content %}